<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="img/pepe.png" alt="" width="30" height="30" class="d-inline-block align-text-top">
        </a>
      <a class="navbar-brand" href="/"><%= lingua.title %></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/"><%= lingua.dropdown.home %></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about"><%= lingua.dropdown.about %></a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <%= lingua.dropdown.lang_menu.menu %>
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="?lang=en"><img src="img/usa.png" width="25px" height="25px"/> <%= lingua.dropdown.lang_menu.en %></a></li>
              <li><a class="dropdown-item" href="?lang=ja"><img src="img/japan.png" width="25px" height="25px"/> <%= lingua.dropdown.lang_menu.ja %></a></li>
              <li><a class="dropdown-item" href="?lang=id"><img src="img/indonesia.png" width="25px" height="25px"/> <%= lingua.dropdown.lang_menu.id %></a></li>
              <li><a class="dropdown-item" href="?lang=zh-CN"><img src="img/ch.png" width="25px" height="25px"/> <%= lingua.dropdown.lang_menu.zh_CN %></a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="?lang=reset"><%= lingua.dropdown.reset %></a></li>
            </ul>
          </li>
        </ul>
      </div>
      <span class="navbar-text">
        <a href="/login"><%= lingua.navbar.login_text %></a> | <a href="/register"><%= lingua.navbar.register_test %></a>
      </span>
    </div>
  </nav>