<div id="context-menu">
  <div class="item">
    <i class="fa fa-cut"></i> <%= lingua.context_menu.content.cut %>
  </div>
  <div class="item">
    <i class="fa fa-clone"></i> <%= lingua.context_menu.content.copy %>
  </div>
  <div class="item">
    <i class="fa fa-paste"></i> <%= lingua.context_menu.content.paste %>
  </div>
  <div class="item">
    <i class="fa fa-trash-o"></i> <%= lingua.context_menu.content.delete %>
  </div>
  <hr>
  <div class="item">
    <i class="fa fa-refresh"></i> <%= lingua.context_menu.content.reload %>
  </div>
  <div class="item">
    <i class="fa fa-times"></i> <%= lingua.context_menu.content.exit %>
  </div>
</div>