<!DOCTYPE html>
<html lang="<%= lingua.locales %>">
<head>
   <title><%= lingua.headTitle %></title>
   <%- include("includes/head.ejs") %>
<body>
  
   <%- include("includes/navbar.ejs") %>
      <header class="masthead text-center text-white">
        <div class="masthead-content">
            <div class="container">
                <img class="img-fluid bot-avatar rounded-circle" src="img/pepe.png" width="200px" height="200px"
              alt="">
              <h3 class="masthead-heading mb-0" style="font-size: 3em !important;"><%= lingua.content.description %></h3>
              <br />
              
              <a class="btn loginHB" href="/discord" role="button" style="color: white;">
                <img src="img/discord_blue.png" alt="discord-icon" width="30px" height="30px">
                <span>
                  <i class="fa fa-sign-in" aria-hidden="true"></i>
                </span>
                <%= lingua.content.btn.invite %>
              </a>
              <!--<span id="paypal-button" style="text-align:center;">
                Support Us Through Paypal
              </span>-->
          </div>
        </div>
        </header>

        <section>
          <div class="container">
            <div class="row align-items-center">
              <div class="col-lg-6 order-lg-2">
                <div class="p-5">
                  <iframe src="https://discord.com/widget?id=793872170300211220&theme=dark" width="350" height="500" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
                </div>
              </div>
              <div class="col-lg-6 order-lg-1">
                <div class="p-5">
                  <h3 class="display-5"><%= lingua.content.section.first_section %></h3>
                  <p><%= lingua.content.section.first_section_desc %></p>
                </div>
              </div>
            </div>
          </div>
        </section>


        <section>
          <div class="container">
            <div class="row align-items-center">
              <div class="col-lg-6">
                <div class="p-5">
                  <img class="img-fluid" src="img/56a42764986a070b67fd3c573cdb40da.png" alt="ownerAvatar">
                </div>
              </div>
              <div class="col-lg-6">
                <div class="p-5">
                  <h2 class="display-5"><%= lingua.content.section.second_section %></h2>
                  <p><%= lingua.content.section.second_section_desc %></p>
                </div>
              </div>
            </div>
          </div>
        </section>

        <section>
          <div class="container">
            <div class="row align-items-center">
              <div class="col-lg-6 order-lg-2">
                <div class="p-5">
                  <a class="twitter-timeline" href="https://twitter.com/wisly_ong_?ref_src=twsrc%5Etfw" width="350px" height="500px">Tweets by wisly_ong_</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                </div>
              </div>
              <div class="col-lg-6 order-lg-1">
                <div class="p-5">
                  <h3 class="display-5"><%= lingua.content.section.third_section_title %></h3>
                  <p><%= lingua.content.section.third_section_desc %> <a href="https://twitter.com/wisly_ong_?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @wisly_ong_</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script></p>
                </div>
              </div>
            </div>
          </div>
        </section>


        
        <%- include("includes/footer.ejs") %>   
        <div>
          <%- include("includes/right-click-menu.ejs") %>
      </div>
      
</body>
</html>